<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<h2>Books</h2>

<% if @books.length > 0 %>
  <ul>
    <% @books.each do |book| %> 
      <li>
        <%= book[:title] %> By: <%= book[:author] %>
      </i>
    <% end %>
  </ul>
<% else %> 
  <h3>No books in the system!</h3>
<% end %>